extends layout
include mixins

block content
	section#home
		article.top
			.title.animated
				.content HEY!

			.description
				.holder.animated.d1
					.content I'M <h3>FLORIAN ZUMBRUNN</h3>,
				.holder.animated.d2
					.content A <h2>CREATIVE DEVELOPER</h2>.
				.holder.animated.d3
					.content <span>I LOVE TO CRAFT DIGITAL STUFF,</span>
				.holder.animated.d4
					.content <span>I WORK IN PARIS.</span>

			.skills
				-var skills = [ "HTML5", "CSS3", "JADE", "JS", "COFFEESCRIPT", "SASS/STYLUS", "AS3", "FLASH REMOTING", "UNITY3D", "C#", "PYTHON", "PHP", "..." ]
				-for skill, i in skills
					if( i < skills.length - 1 )
						.holder.animated(class="d" + ( i + 1 ))
							.emul= skill
								/
							.content= skill
								/
					else
						.holder.animated(class="d" + ( i + 1 ))
							.emul= skill
							.content= skill

		article.bot
			.holder.animated
				h4 MY <strong>PROJECTS:</strong>
			ul
				-for project in data
					li.animated
						a(href="/works/"+project.id)
							h3= project.title
							span.project
								img(src=project.preview, alt=project.title, width="300", height="150")
								span.layer
									span.background
									span.bts
										span.btzoom
											span.circle
											span.plus
										span.bt VIEW MORE
									span.details 
										span FLASH - HTML
